<section class="m-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
    </div>
</section>