<h2 class="text-center text-secondary">Search a Destination</h2>
<form [formGroup]="searchDestinationForm" (ngSubmit)="onSubmit()"
    class="form d-flex justify-content-center align-self-center">
    <div class="card mt-3 w-75">
        <div class="card-body">

            <div class="row">
                <!-- Country -->
                <div class="form-group col">
                    <label for="country">Country</label>
                    <input id="country" type="text" formControlName="country" class="form-control"
                        [ngClass]="{ 'is-invalid': country.invalid && (country.dirty || country.touched) }">
                    <div *ngIf="country.invalid && (country.dirty || country.touched)" class="text-danger">
                        <div *ngIf="country.errors?.['required']">Country is required.</div>
                    </div>
                </div>

                <!-- City -->
                <div class="form-group col">
                    <label for="city">City</label>
                    <input id="city" type="text" formControlName="city" class="form-control">
                </div>

                <!-- Region -->
                <div class="form-group col">
                    <label for="region">Region</label>
                    <input id="region" type="text" formControlName="region" class="form-control">
                </div>

                <!-- Destination Type -->
                <div class="form-group col">
                    <label for="destinationType">Destination type</label>
                    <select class="form-select form-control" id="destinationType" formControlName="destinationType"
                    [ngClass]="{ 'is-invalid': destinationType.invalid && (destinationType.dirty || destinationType.touched) }">
                        <option *ngFor="let destinationType of destinationTypes" [value]="destinationType">{{
                            destinationType }}</option>
                    </select>
                    <div *ngIf="destinationType.invalid && (destinationType.dirty || destinationType.touched)" class="text-danger">
                        <div *ngIf="destinationType.errors?.['required']">Destination Type is required.</div>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="form-group mt-3 col">
                    <button type="submit" [disabled]="searchDestinationForm.invalid"
                        class="btn btn-info text-light">Search</button>
                </div>

            </div>
            <div *ngIf="backendErrors" class="text-danger">
                <p>{{ backendErrors }}</p>
            </div>
        </div>
    </div>
</form>

<div class="m-5">
    <h4 class="text-center text-secondary">Recommendations</h4>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recommendation title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Country + City + Region</h6>
                    <p class="card-text">
                        Description
                    </p>
                    <a href="#" class="card-link" style="text-decoration: none;">View</a>
                </div>
            </div>
        </div>
    </div>